{% extends "noname/page.html" %}

{% block title %}“{{ companyname.name}}”: what do you think?{% endblock %}
{% block jsfunctions %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.rating.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(function(){
        $.fn.rating.options.starWidth = 64;
        $('input.star').rating();
    });

    // can do better, but \\S* wildcard seems not to work. why?
    $("div").filter(function(){
        return this.id.match("id_value_.*");
        }).each(function(index, domEle){
        $(domEle).click(function(){
             $.post("/noname/eval/{{ companyname.name }}/", {value: this.id.substr(-1)}, function(data){
    	     $("#resulteval").html(data).css('display', 'inline').fadeOut(1000);
        });
    });
    });

    //JS enabled: ajax form
    $("input.form").hide();

    //rating part
    $("span#msgbutton").html("<input type=\"button\" id=\"messagebutton\" value=\"Record opinion\"/>")
    $("input#messagebutton").click(function () {
        $.post("/noname/message/{{ companyname.name }}/",  {message: $("textarea#id_message").val()}, function(data){
            $("#resultmsg").html(data).css('display', 'inline').fadeOut(1000);
        });
    });

    //voter part
    $("span#voterbutton").html("<input type=\"button\" id=\"savevoter\" value=\"Save\"/>")
    $("input#savevoter").click(function () {
        $.post("/noname/voterinfo/",  {
		nickname: $("id_optional_nickname").value,
		email: $("id_optional_email").value,
		info: $("id_optional_info").value
		}, function(data){
            $("#resultvoter").html(data).css('display', 'inline').fadeOut(1000);
        });
    });

});
</script>
{% endblock %}
{% block css %}
<style>
    {% comment %}
    Keeping this css here because /for now/, STATIC_URL can change.
    {% endcomment %}
    /* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
    div.rating-cancel,div.star-rating{float:left;width:65px;height:63px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
    div.rating-cancel,div.rating-cancel a{background:url({{ STATIC_URL }}delete.gif) no-repeat 0 -64px}
    div.star-rating,div.star-rating a{background:url({{ STATIC_URL }}star.gif) no-repeat 0 0px}
    div.rating-cancel a,div.star-rating a{display:block;width:64px;height:100%;background-position:0 0px;border:0}
    div.star-rating-on a{background-position:0 -64px!important}
    div.star-rating-hover a{background-position:0 -128px}
    /* Read Only CSS */
    div.star-rating-readonly a{cursor:default !important}
    /* Partial Star CSS */
    div.star-rating{background:transparent!important;overflow:hidden!important}
    /* END jQuery.Rating Plugin CSS */
</style>
{% endblock css %}

{% block body %}
{% load i18n %}
<div id="main">
    <div class="content" >
        <h1 id="companyname">{{ companyname.name }}</h1>
        {% include "noname/availability.html" with title="Availability" companyname=companyname only %}
        {% include "noname/explanation.html" with title="Explanation" hide="yes" companyname=companyname only %}
        {% include "noname/illustration.html" with title="Illustration" hide="yes" companyname=companyname only %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <hr/>
    </div>
    <hr/>
    <div class="forms">
        <form id="commonform" action="{% url detail companyname %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Your advice</legend>
                <div id="evalform">
		    <div id="ratingstars">
			{{ evalform.value }}
			<span id="resulteval"></span>
		    </div> <!--ratingstars-->
		    <div id="ratingmessage">
			{{ evalform.message }}
			<span id="msgbutton"></span>
			<span id="resultmsg"></span>
		    </div> <!--ratingmessage-->
		    {% comment %}
                    {{ evalform.custom_display }}
		    {% endcomment %}
                </div><!--evalform-->
            </fieldset>
            <fieldset>
                <legend>Who are you ?</legend>
                <div id="voterform">
                    {{ voterform.custom_display }}
		    <span id="voterbutton"></span>
		    <span id="resultvoter"></span>
                </div><!--voterform-->
            </fieldset>
                <div class="buttons">
                    <input type="submit" class="form" value="Submit"/>
                    <input type="button" class="form" onclick="self.location.href='.'" value="Cancel">
                </div>
            </form>
    </div> <!--forms-->
</div>
{% endblock body %}
{% block nav %}{% include "noname/nav.html" with title="Navigation" name=companyname.name only %}{% endblock nav %}
