{% extends "noname/page.html" %}
{% block jsfunctions %}
<script type="text/javascript">
$(document).ready(function(){
{% include "noname/slide.js" with trigger="explain" title="Explanation" foldable="text_explanation" %}
{% include "noname/slide.js" with trigger="show_avail" title="Availability" foldable="availability" %}
{% include "noname/slide.js" with trigger="show_nav" title="Navigation" foldable="navigation" %}
{% include "noname/slide.js" with trigger="show_illus" title="Illustration" foldable="illustration" %}
});
</script>
{% endblock %}

{% block body %}
<div id="main">
<div class="content" >
<h1 id="companyname">{{ companyname.name }}</h1>
{% include "noname/explanation.html" with companyname=companyname only %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% include "noname/availability.html" with companyname=companyname only %}
{% include "noname/illustration.html" %}
<hr/>
</div>

<hr/>

<div class="forms">
<!--form action="{y% url evalform companyname.id %}" method="POST"-->
	<form action="coin" method="POST">
		<div id="evalform">
			{{ evalform }}
		</div><!--#evalform-->
		<div id="voterform">
			{{ voterform }}
		</div><!--#voterform-->
		<div class="buttons">
			<input type="submit" value="Submit"/>
			<!--a href="{y% url evalform companyname.id %}">Cancel</a>-->
			<a href=".">Cancel</a>
		</div>
	</form>
</div> <!--#forms-->
</div>
{% include "noname/nav.html" %}
{% endblock body %}

