{% include "noname/header.html" with title=companyname.name %}
<div id="contents" >
<h1 id="name">{{ companyname.name }}</h1>

<div class="contentbox" id="explanation">
	<p class="trigger" id="explain">[+] Explanation</p>
	<div class="foldable" id="text_explanation">
	<p>{{ companyname.explanation }}</p>
	</div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="contentbox" id="availtitle">
	<p class="trigger" id="show_avail">[-] Availability</p>
	<div class="foldable" id="availability">
	<table>
	{% for item, value in companyname.availability %}
	    <tr class="{% cycle 'row1' 'row2' %}">
	    <td>{{ item }}</td>
	    <td class="{% if value %}avail">{% else %}unavail">N{% endif %}OK</td>
	    </tr>
	{% endfor %}
	</table>
	</div>
</div>

</div>
{% include "noname/sessioninfo.html" %}
{% include "noname/nav.html" %}
{% include "noname/footer.html" %}





