{% extends "noname/page.html" %}

{% block jsfunctions %}
{% endblock %}

{% block title %}Noname inc.{% endblock %}


{% block body %}
<div id="contents" style="float: left; width: 50em; border: thin silver solid; margin: 0.5em; padding: 0.5em;">
<h1>Proposed names</h1>
{% if all_proposed_names.all %}
    <ul>
    {% for name in all_proposed_names.all %}
        <li><a href="{% url detail  name %}">{{ name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No proposed company names are available.</p>
{% endif %}
</div>
{% endblock body%}
{% block nav %}{% include "noname/nav.html" with title="Navigation" navskip="index next" only %}{% endblock nav %}
