<script type="text/javascript" src="/noname/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   {% include "noname/slide.js" with trigger="explain" title="Explanation" foldable="text_explanation" %}
   {% include "noname/slide.js" with trigger="show_avail" title="Availability" foldable="availability" %}
   {% include "noname/slide.js" with trigger="show_nav" title="Navigation" foldable="navigation" %}
   {% include "noname/slide.js" with trigger="show_illus" title="Illustration" foldable="illustration" %}
});
</script>
