<div class="content" id="nav">
<p class="trigger" id="show_nav">[+] Navigation</p>
<div class="foldable" id="navigation">
{% if "index" in skip %}
<span style="display:block; border: solid 1px;" title="You are here">All proposed names</span>
{% else %}
<span style="display:block;"><a href="/" title="See all proposed names in line">All proposed names</a></span>
{% endif %}
{% if not "next" in skip %}
<span style="display:block;"><a href="/noname/next" title="See an other proposed name">Show another name</a></span>
{% else %}
<span style="display:block;"><a href="/noname/next" title="See a random proposed name">Show another name</a></span>
{% endif %}
<span style="display:block;"><a href="/admin" title="This is where admins go">admin</a></span>
</div>
</div>
