{% extends "noname/foldable.html" %}

{% block content %}
<p>
{% if "index" in navskip %}<span style="display:block; border: solid 1px;" title="You are here">All proposed names</span>
{% else %}<span style="display:block;"><a href="/" title="See all proposed names in line">All proposed names</a></span>{% endif %}
{% if not "next" in navskip %}<span style="display:block;"><a href="/noname/next" title="See an other proposed name">Show another name</a></span> {% endif %}
<span style="display:block;"><a href="/admin" title="This is where admins go">admin</a></span>
</p>
{% endblock %}
