<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
<script type="text/javascript">
<!--
    $(document).ready(function(){
        $('.trigger').click(noname['trigger']['click']);
	{% block voter_info_js %}
	function setup_voterinfo() {
		$("div#voterinfo").hide();
		$("div#ident").show();
	}
        $("div#ident").click(function(){
		$("div#voterinfo").show();
		$("div#ident").hide();
	});
        $("div#voterform").load("{% url voterform %}", function(){
            setup_voterinfo();
	    $("input#savevoter").click(function(){
            var data = {
                     optional_nickname: $("input#id_optional_nickname").val(),
                     optional_email: $("input#id_optional_email").val(),
                     optional_info: $("textarea#id_optional_info").val(),
		     }
                $.post("{% url voterinfo %}",  data, function(result) {
                    $("#resultvoter").html(result).css('display', 'inline').fadeOut(1000, setup_voterinfo);
		});

	    });

	});
	{% endblock voter_info_js %}
    });
    -->
</script>
{% block jsfunctions %}{% endblock %}

<link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css"/>
{% block css %}{% endblock css %}

<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="all">
<div class="bodycontent">
{%block body %}{% endblock %}
</div>
<div class="menu">
{% block sys %}{% include "noname/sys.html" with title="Context" voter=voter only %}{% endblock sys %}
{% block nav %}{% include "noname/nav.html" with title="Navigation" only %}{% endblock nav %}
{% block voter_info %}{% include "noname/voter_info.html" with title="About you" voter=voter only %}{% endblock voter_info %}
</div>
</div>
</body>
</html>
