<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
<script type="text/javascript">
<!--
    $(document).ready(function(){
        $('.trigger').click(noname['trigger']['click']);
	{% block voter_inf_js %}
        $("div#voterform").load("{% url voterform %}", function(){
	    $("div#voterform").css('display', 'none').fadeIn(1000);
	    $("input#savevoter").click(function(){
            var data = {
                     optional_nickname: $("input#id_optional_nickname").val(),
                     optional_email: $("input#id_optional_email").val(),
                     optional_info: $("textarea#id_optional_info").val(),
		     }
                $.post("/noname/voterinfo/",  data, function(result) {
                    $("#resultvoter").html(result).css('display', 'inline').fadeOut(1000);
		});

	    });

	});
	{% endblock voter_inf_js %}
    });
    -->
</script>
{% block jsfunctions %}{% endblock %}

<link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css"/>
{% block css %}{% endblock css %}

<title>{% block title %}{% endblock %}</title>
</head>
<body>
{%block body %}{% endblock %}
{% block sys %}{% include "noname/sys.html" with title="Context" voter=voter only %}{% endblock sys %}
{% block nav %}{% include "noname/nav.html" with title="Navigation" only %}{% endblock nav %}
{% block voter_info %}{% include "noname/voter_info.html" with title="About you" only %}{% endblock voter_info %}
</body>
</html>
