div.content,div.forms
{
    /*float: left;*/
    border: thin #80a558 solid;
    margin: 0.5em;
    padding: 0.5em;
    text-align:left;
}
div#main
{
    width: 70%;
    float: left;
}
hr
{
    clear: both;
    visibility: hidden;
}
div.contentbox
{
    text-align:center;
    float: left;
    width:30%;
}
div.foldable,p.trigger
{
    margin:0px;
    padding:5px;
    text-align:center;
    /*background:#e5eecc;*/
    border:solid 1px #80a558;
}
p.trigger{
    background-color:#c1e746;
}
div.foldable{
/*    background-color:#80a558;*/
}
/*80a558 : vert
ff8a0c : orange
d4d4d4 : gris
*/
.trigger:hover
{
    background:#ffffff;
    border:solid 1px #000;
    cursor:pointer;
}
td.avail,td.unavail
{
    background:#ccffcc;
    margin:10px;
    padding:5px;
    text-align:left;
}
td.unavail
{
    background:#ffcccc;
}
tr
{
    text-align:right;
}
tr.row1
{
    background:#cfcfcf;
}
tr.row2
{
    background:#dfdfdf;
}
h1#companyname
{
    text-align: center;
    border:1px solid #80a558;
}
#evalform ul{
    list-style:none;
    height:64px;
}
fieldset{
    border:1px solid #80a558;
    padding-bottom:10px;
    margin-bottom:15px;
}
#evalform li{
    float:left;
}
#evalform label{
    padding-left:5px;
}
